.nav{
    display: flex;
    gap: 55px;
    margin-left: 980px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 4px;
    font-size: large;

}

.headphones{
    width: 40%;
    padding-top: -1px;
    height: 50%;
    margin-left: 390px;
    padding-bottom: 90px;

}

.text{
    background-color: pink;
    padding-top: 80px;
    padding-left: 50px;

}

.hd{
    padding-top: -140px;
}





